In [4]:
import sqlite3 as sql
import pandas as pd

In [14]:
db_path = '../data/preprocessed/sqlite/cricsheet_xml.db'
conn = sqlite3.connect(db_path)

In [16]:
c = conn.cursor()

In [24]:
tables = list(c.execute("SELECT name FROM sqlite_master WHERE type ='table' AND name NOT LIKE 'sqlite_%';"))
print(tables)

[('teams',), ('competitions',), ('players',), ('umpires',), ('matches',), ('scoresheets',), ('innings',), ('deliveries',), ('wickets',)]

In [25]:
print(pd.read_sql('SELECT count(*) FROM matches', conn))

   count(*)
0      7360

In [26]:
df_matches = pd.read_sql('SELECT * FROM matches', conn)

In [28]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7360 entries, 0 to 7359
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               7360 non-null   int64
 1   gender           7360 non-null   object
 2   match_type       7360 non-null   object
 3   competition      2638 non-null   object
 4   max_overs        6731 non-null   float64
 5   venue            7360 non-null   object
 6   city             6449 non-null   object
 7   start_date       7360 non-null   object
 8   end_date         7360 non-null   object
 9   team_home        7360 non-null   object
 10  team_away        7360 non-null   object
 11  result           7360 non-null   object
 12  method           415 non-null    object
 13  winner           7030 non-null   object
 14  won_by_type      6982 non-null   object
 15  won_by_value     6982 non-null   float64
 16  player_of_match  6863 non-null   object
 17  toss_won_by      7360 non-null   object
 18  toss_decision    7360 non-null   object
 19  umpire_first     7338 non-null   object
 20  umpire_second    7338 non-null   object
 21  umpire_third     4 non-null      object
 22  umpire_forth     0 non-null      object
dtypes: float64(2), int64(1), object(20)
memory usage: 1.3+ MB

In [30]:
df_matches.groupby('gender')['id'].count()

gender
female    1069
male      6291
Name: id, dtype: int64

In [31]:
df_matches.groupby('match_type')['id'].count()

match_type
IT20     332
MDM       23
ODI     1964
ODM      373
T20     4062
Test     606
Name: id, dtype: int64

In [36]:
df_matches.groupby('toss_decision')['id'].count()

toss_decision
bat      3488
field    3872
Name: id, dtype: int64