# Batting collapse frequency. Are England unique?

### Research Question:
- How often do batting collapses happen?
- Does England collapse more often that other teams?
- Is this statement true? "Joe Root rarely stops a collapse, and is often a part of it"
- Which players are best at stopping a collapse?


### Methodology:
- Create a table of fall of wicket:
    - MatchID
    - Date
    - Batting team
    - Bowling team
    - Match type
    - Innings
    - Fall of Wicket 1 (runs, batsman)
    - Fall of Wicket 2 (runs, batsman)
    - etc.

### Problem breakdown:
- Data Source: howstat cricket scorecards
- Extract Fall Of Wickets from a single game
- Extract FoW from multiple games
- Extract FoW from all (relevant) games

In [1]:
from cricsheet.io_html.BaseParser import BaseParser
from cricsheet.io_html.MatchParser import MatchParser

import logging
import time
import sys

In [2]:
logging.basicConfig(level=logging.DEBUG,
                    format='[%(levelname)s]: %(asctime)s: %(message)s',
                    #datefmt='%m-%d %H:%M',
                    filename='../logs/scrapeTests.log',
                    filemode='w')

# define a Handler which writes INFO messages or higher to the sys.stderr
console = logging.StreamHandler(sys.stdout)
console.setLevel(logging.INFO)

# set a format which is simpler for console use
formatter = logging.Formatter('%(name)-12s: %(levelname)-8s: %(message)s')
# tell the handler to use this format
console.setFormatter(formatter)

# add the handler to the root logger
logging.getLogger('').addHandler(console)

In [5]:
#logging.basicConfig(level=logging.INFO, format='[%(levelname)s]: %(asctime)s: %(message)s')
#log = logging.getLogger('cricsheet')

#start_time = time.time()

# 
j = 0
for i in range(1,4):
    j += 1
    if j % 50 == 0:
        logging.info('Sleeping for 10 seconds')
        time.sleep(10)
        
    s_id = str(i).zfill(4)
    match = MatchParser(s_id)
    logging.debug(f'Loaded match {s_id}')
    
    try:
        match.execute()
        logging.info(f'Parsed data from match {s_id}')
        match.scorecards.to_csv(f'../data/processed/howstat/scorecards/scorecard_{i}.csv')
        match.fall_of_wickets.to_csv(f'../data/processed/howstat/fall_of_wickets/fow_{i}.csv')
        logging.info(f'Saved data from Match: {s_id}')        
    except Exception as err:
        logging.error(err)

cricsheet.io_html.MatchParser: INFO    : Parsing Match: 0001
root        : INFO    : Parsed data from match 0001
root        : INFO    : Saved data from Match: 0001
cricsheet.io_html.MatchParser: INFO    : Parsing Match: 0002
root        : INFO    : Parsed data from match 0002
root        : INFO    : Saved data from Match: 0002
cricsheet.io_html.MatchParser: INFO    : Parsing Match: 0003
root        : INFO    : Parsed data from match 0003
root        : INFO    : Saved data from Match: 0003

In [4]:
match.fall_of_wickets

,MatchId,MatchDate,MatchInnings,Team,TeamInnings,Wicket,Runs,Player
0,0003,1879-01-02,1,England,1st,1,0,Ulyett
1,0003,1879-01-02,1,England,1st,2,7,Webbe
2,0003,1879-01-02,1,England,1st,3,10,Lucas
3,0003,1879-01-02,1,England,1st,4,14,Hornby
4,0003,1879-01-02,1,England,1st,5,26,Royle
5,0003,1879-01-02,1,England,1st,6,26,MacKinnon
6,0003,1879-01-02,1,England,1st,7,26,Emmett
7,0003,1879-01-02,1,England,1st,8,89,Harris
8,0003,1879-01-02,1,England,1st,9,113,Absolom
9,0003,1879-01-02,1,England,1st,10,113,Hone
10,0003,1879-01-02,2,Australia,1st,1,16,Murdoch
11,0003,1879-01-02,2,Australia,1st,2,30,Bannerman
12,0003,1879-01-02,2,Australia,1st,3,37,Horan
13,0003,1879-01-02,2,Australia,1st,4,101,Spofforth
14,0003,1879-01-02,2,Australia,1st,5,131,Garrett
15,0003,1879-01-02,2,Australia,1st,6,158,Allan
16,0003,1879-01-02,2,Australia,1st,7,215,Boyle
17,0003,1879-01-02,2,Australia,1st,8,224,Blackham
18,0003,1879-01-02,2,Australia,1st,9,234,Kelly
19,0003,1879-01-02,2,Australia,1st,10,256,Bannerman
20,0003,1879-01-02,3,England,2nd,1,26,Lucas
21,0003,1879-01-02,3,England,2nd,2,28,Ulyett
22,0003,1879-01-02,3,England,2nd,3,28,Webbe
23,0003,1879-01-02,3,England,2nd,4,34,Hornby
24,0003,1879-01-02,3,England,2nd,5,78,Royle
25,0003,1879-01-02,3,England,2nd,6,103,Harris
26,0003,1879-01-02,3,England,2nd,7,103,MacKinnon
27,0003,1879-01-02,3,England,2nd,8,118,Absolom
28,0003,1879-01-02,3,England,2nd,9,128,Hone
29,0003,1879-01-02,3,England,2nd,10,160,Schultz