In [11]:
import pandas as pd

In [12]:
filepath = '../data/processed/howstat/fall_of_wickets/'

In [18]:
file = 'fow_1999.csv'

In [19]:
df = pd.read_csv(filepath+file, index_col=0, parse_dates=[2], infer_datetime_format=True)

In [20]:
from cricsheet.fow_analysis.collapses.extract_collapses import return_collapses

In [23]:
df.groupby(['MatchId','MatchInnings', 'Team']).apply(return_collapses)

                                  start   end  runs      positions  \
MatchId MatchInnings Team
1999    1            England   0    5.0   7.0   0.0      [5, 6, 7]
        2            Australia 0    6.0   9.0  22.0   [6, 7, 8, 9]
                               1    7.0  10.0  23.0  [7, 8, 9, 10]
                               2    1.0   3.0  22.0      [1, 2, 3]

                                                             batters
MatchId MatchInnings Team
1999    1            England   0                [Cook, Prior, Broad]
        2            Australia 0   [Haddin, Hussey, Johnson, Siddle]
                               1  [Hussey, Johnson, Siddle, Doherty]
                               2           [Watson, Ponting, Katich]

Questions to answer:
- Number of collapses by Team, by year (unique collapses, innings with a collapse)
- Positions most often involved
- Batters most often involved